body{
	background: #F8F8FF;
}
h1, h2, h3, span{
	color: rgba(154,205,50,0.7);
	font-family: inherit;
	font-size: larger;
}
.p-1{
	text-align:left;
	color: #DC143C;
	font-family: fantasy;
	font-size: 14px;
	letter-spacing: 1px;
    word-spacing: 3px;
}
.p-2{
	text-align:center;
	color: hsl(320, 65%, 70%);
	font-family: cursive;
	font-size: 17px;
	letter-spacing: 2px;
    word-spacing: 2px;
}
.p-3{
	text-align:right;
	color: hsla(9, 100%, 64%, 0.7);
	font-family: sans-serif;
	font-size: 20px;
	letter-spacing: 3px;
    word-spacing: 1px;
}
#span-p2 {
	color: red;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: line-through;
}
#span-p3 {
	color: yellow;
    font-weight: initial;
    font-size: 22px;
    text-decoration: overline;
}
.l-lvl-1{
	list-style-type: disc;
	font-style: italic;
	color: #FF00FF;
}
.l-lvl-2{
	list-style-type: square;
	font-style: initial;
	color: #800080;
}
.l-lvl-3{
	list-style-type: circle;
	font-style: oblique;
	color: #FF00AA;
}
.l-marker{
	list-style-image: url(../img/marker.ico);
}

p:first-child {
    color: steelblue;
}
p::first-letter {
    border: solid 1px rgba(250, 0, 0, 0.3);
    border-radius: 5%;
    font-size: 125%;
    padding: 2px;
}
p::first-line {
    text-decoration: underline;
}

a:link {
    text-decoration: line-through;
}
a:active {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    background: #999999;
}
.main-table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90%;
    font-weight: 650;
    margin-bottom: 12vh;
    border: 3px solid #abc;
}
