nav{
	padding: 0;
	margin: 0;
}
header{
	font-family: Arial;
}
nav ul{
	list-style-type: none;
}
nav li .second{
	top: 100%;
	display: none;
	position: absolute;
}
nav > ul > li{
	float: left;
	position: relative;
}
nav > ul li a{
	font-size: 17px;
	background: #E0E0E4;
	display: block;
	padding: 16px 32px 16px 42px;
	color: #4E4E4F;
	text-decoration: none;
}
nav li:hover .second{
	display: block;
}
nav li a:hover{
	transition: all 0.4s ease; /* плавный переход */
	color: #ededf2;
	background: #4e4e4f;
}
